<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.png" alt="Logo" width="35" height="35" class="me-2">
      <span class="fw-bold"><%= siteTitle %></span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-light fw-semibold ms-lg-3" href="<%= playStoreUrl %>" target="_blank">
            <i class="bi bi-google-play"></i> Get App
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>