<%- include('../partials/header') %>
<div class="container mt-5">
  <h2>About Us</h2>
  <p>This is the about page of the Node.js web app using EJS and Bootstrap 5.</p>
</div>
<%- include('../partials/footer') %>
