<%- include('../layout', { title: title }) %>
<%- include('../partials/header') %>

<main class="container my-5">
  <h2>Contact Us</h2>
  <p>Reach us at studycorner@example.com</p>
</main>

<%- include('../partials/footer') %>